.signUp {
    z-index: -1;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #173f5f, #20639b, #3caea3);
}

form > input[type='file'] {
    border: none;   
}

input[type='file']:hover {
    color: #aaa;
    background-color: #fff;
    border: 1px solid #fff;
}

.image {
    height: 150px;
    object-fit: contain;
    border: 1px solid black;
}